*
{
    margin: 0;
    padding: 0;
}

body
{
    font-family: monospace;
}
.row
{
    max-width: 1200px;
    margin: auto;
}

.main-nav
{
    float: right;
    list-style: none;
    margin-top: 30px;
}
.main-nav li
{
    display: inline-block;
}

.main-nav li.active a
{
    border: 1px solid white;
    
}

.main-nav li a:hover
{
    border: 1px solid white;
}


.main-nav li a
{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
}

.hero
{
    position: absolute;
    width: 1200px;
    margin-left: 0px;
    margin-top: 0px;
    
}


h1
{
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 150px;
    
}

h2
{
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    text-align: center;
    margin-top: 120px;
    
}

h3
{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    margin-top: 260px;
    
}

h4
{
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    text-align: center;
    margin-top: 10px;
    
}
header
{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(pic1.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.button
{
    margin-top: 30px;
    margin-left: 430px;
}

.btn
{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}
.btn-one
{
    font-family: "Roboto", sans-serif;
}

.btn-two
{
    font-family: "Roboto", sans-serif;
}


.btn-one:hover
{
    background-color: darkorange;
    transition: all 0.5s ease-in;
    
        
}

.btn-two:hover
{
    background-color: darkorange;
    transition: all 0.5s ease-in;
    
        
}

.logo img
{
    width: 150px;
    height: auto;
}

.contact-title{
    margin-top: 250px;
    color: #fff;
    text-transform: uppercase;
    transition: all 4s ease-in-out
}

.contact-title h1{
    font-size: 32px;
    line-height: 10px;
}
.contact-title h2{
    font-size: 32px;
}
form{
    margin-top: 0px;
}

.form-control{
    text-align: center;
    width: 600px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 18px;
    margin-bottom: 16px;
    margin-left: 300px;
}

input{
    height: 45px;
}

form .submit{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    height: 50px;
    margin-top: 20px;
}

form .submit:hover{
    background-color: darkorange;
    transition: all 0.5s ease-in;
}


